
/*barra de Nav vertical*/

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul a {
    width: 200px;
    height: 40px;
    display: block;
    color: black;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(../img/seta/menu.png) no-repeat left bottom;
}

a:hover {
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}

/* Seleciona qual é a Home Page Atual*/
#home #navegacao .home a,  
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a {
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}