body {
    background-image: url('imagens/yoshi.png');
    
    /*repeat-x, repeat-y, no-repeat, repeat */
    background-repeat: no-repeat;
    
    /*scrool, fixced*/
    background-attachment: fixed;
    
    /*1º valor: left, center, rigth
      2º valor: top, center, bottom*/
    background-position: center center;
}

.fundo {
    /*background-color: rgb(107, 66, 66);*/
    background: cyan url('imagens/yoshi.png') no-repeat scroll;
}

