
body {
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
}
.negrito {
    /* normal, bold, 100 até 900*/
    font-weight: 900;
}

.italico {
    font-style: italic;
}

.formatacao {
    /*text-decoration: underline*/
    /*text-decoration: overline*/
    text-decoration: line-through ;
}

.texto {
    font: bold 40px 'Times New Roman', Times, serif;
}
