#conteudo {
    background: #dcdcdc;
    height: 600px;
    display: flex;

    /*row, row-reverse / column, column-reverse*/
    flex-direction: row;
    
    /*nowrap, wrap, wrap-reverse,
    inherit, initial, unset*/
    flex-wrap: nowrap;

    /*flex-start, flex-end, center, 
    space-between, space-around, space-evenly*/
    justify-content: space-evenly;

    /*stretch, center, flex-start, flex-end, 
    baseline*/
    align-items: baseline;
}

.item {
   /* width: 100px;
    height: 100px;*/
    margin: 10px;
    background: white;
    border: 1px solid gray ;
}