header {
    border: 1px solid green;
    background: #f2f2f2;
}

nav {
    margin-top: 2px;
    border: 1px solid red;
    background: #f2f2f2;
    padding: 10px;
}

article {
    margin-top: 2px;
    background: burlywood;
    padding: 10px;
}

section {
    margin-top: 2px;
    border: 1px dotted #ffff;
}

aside {
    margin-top: 2px;
    border: 1px dotted black;
    background: cyan;
}

footer {
    margin-top: 2px;
    background: yellow;
    border: 1px solid blue;
}
