body {
    background: #007fc7;
}

#container{
    background: #FFF;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}

p {
    width: 300px;
}

 /*fixed => tem seu alinhamneto baseado janela do navegador*/
.fixed {
    border: 1px solid yellow;
    background: #f2f2f2;
    position: fixed;
    margin: 2.5px;
    top: 0px;
    right: 0px;
    
}

 /*absolute => alinha uma caixa baseada no container*/
.absolute { 
    border: 1px solid green;
    background: #f2f2f2;
    position: absolute;
    top: 80px;
    right: 80px;
}

 /*relativ => tem seu alinhamneto baseado na posição uinicial*/
.relative {
    border: 1px solid black;
    position: relative;
    /* top, right, bottom e left */
    /*top: 0px;
    left: 0px;
    right: 20px;*/
    bottom: 0px;
}
